@model IEnumerable<CheeseMVC.Models.Menu>


@{
    ViewBag.Title = "Remove Menu";
}

<h2>@ViewBag.Title</h2>

<form method="post">

    @foreach (var menu in ViewBag.Menus)
    {
        <input type="checkbox" name="Menu" id="@menu.ID" value="@menu.ID" />
        <label for="@menu.ID">@menu.Name</label>
        <br />
    }

    <input type="submit" value="Remove Selected Menu(s)" />
</form>

